// machine-managements
.navbar-brand {
  background-color: lawngreen;
}

// order.index & reservations & uses & cominghomes
.active {
  background-color: lawngreen;
}

div ul li {
  margin-left: 15px;
}